<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Audits Dash Board</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">Open Audits</label>
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">Accepted Audits</label>
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">Rejected Audits</label>

    <div class="tab-content-wrap">
      <div id="tab-content1">
           <table class="styled-table" width="100%" >
          <thead>
            <tr>
              <th scope="col" style="text-align:left;">Sl No</th>
              <th scope="col">Date Of Sale</th>
              <th scope="col">Scrip Amount Requested(Rs)</th>
              <th scope="col">Submitted?</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @open_audit.present? %>
              <% @open_audit.each_with_index do |buy, index| %>
                <tr>
                  <th scope="row" style="text-align: left;"><%= index+1 %></th>
                  <td><%= buy.buy_date.strftime('%d/%m/%Y') %></td>
                  <td><%= SellRequest.number_to_indian_currency( (buy.scrip_value.to_d/100), false)  %></td>
                  <td><%= BuyRequest.is_it_sumitted(buy.submitted) %></td>
                  <td>
                    <div class="form-inline">
  <div class="form-group">

                  <%= link_to ('<i class="fa fa-pencil-square-o" title="Select Scrips" style="text-decoration:none;color: inherit;"></i>').html_safe,dashboard_select_scrips_user_path(buy_id: buy.id) %>
                  </div>
                  </div>

                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="15" style="text-align: center; "><b>There is no Active Buys</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div id="tab-content2">
          <table class="styled-table" width="100%" >
          <thead>
            <tr >
              <th scope="col" style="text-align:left;">Sl No.</th>
              <th scope="col">Date Of Sale</th>
              <th scope="col">Scrip Amount Requested(Rs)</th>
              <th scope="col">Completed Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @accepted_audit.present? %>
              <% @accepted_audit.each_with_index do |buy, index| %>
                <tr>
                  <th scope="row"><%= index+1 %></th>
                  <td><%= buy.buy_date.strftime('%d/%m/%Y') %></td>
                  <td><%= SellRequest.number_to_indian_currency( (buy.scrip_value.to_d/100), false) %></td>
                  <td><%= buy.sold_date %></td>
                  <td>
                    <%= link_to ('<i class="fa fa-eye" title="View" style="font-size:23px"></i>').html_safe,dashboard_select_scrips_user_path(buy_id: buy.id) %>
                    <% if buy.is_auidted == true  && buy.is_audit_rejected == false %>    
                    <i aria-hidden="true" class="fa fa-check-square-o fa-2x fa-lg" title="Audited"></i>
                    <% end %>              
                  </td>

                 </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="15" style="text-align: center; "><b>There is no Completed Buy Record</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div id="tab-content3">
          <table class="styled-table" width="100%" >
          <thead>
            <tr>
              <th scope="col" style="text-align:left;">Sl No.</th>
              <th scope="col">Date Of Sale</th>
              <th scope="col">Scrip Amount Requested(Rs)</th>
              <th scope="col">Completed Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @rejected_audit.present? %>
              <% @rejected_audit.each_with_index do |buy, index| %>
                <tr>
                  <th scope="row"><%= index+1 %></th>
                  <td><%= buy.buy_date.strftime('%d/%m/%Y') %></td>
                  <td><%= SellRequest.number_to_indian_currency( (buy.scrip_value.to_d/100), false)  %></td>
                  <td><%= buy.sold_date %></td>
                  <td>
                    <%= link_to ('<i class="fa fa-eye" title="View" style="font-size:23px"></i>').html_safe,dashboard_select_scrips_user_path(buy_id: buy.id) %>
                  </td>

                 </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="15" style="text-align: center; "><b>There is no Completed Buy Record</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>      
    </div>
  </div>
</div>
<style>
.btn {
  cursor: pointer;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}

.tab-table label {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-left: 1px;
    margin-top: -15px;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
#wrapper #content-wrapper {
     overflow-x: unset; 
}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast2_length{
  display: none
}
#paginationFirstLast_length{
  display: none
}
</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
      "bJQueryUI": true,
      "bDestroy": true,
      "aoColumnDefs": [
      {
      "sDefaultContent": '',
      aTargets: [ '_all' ]
      }
      ]
  });
    $('#paginationFirstLast2').DataTable({
      "bJQueryUI": true,
      "bDestroy": true,
      "aoColumnDefs": [
      {
      "sDefaultContent": '',
      aTargets: [ '_all' ]
      }
      ]
  });
    $('#paginationFirstLast3').DataTable({
      "bJQueryUI": true,
      "bDestroy": true,
      "aoColumnDefs": [
      {
      "sDefaultContent": '',
      aTargets: [ '_all' ]
      }
      ]
  });
});

</script>
