<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Business Configuration</h2> 
</nav>
<%= form_with(url: business_config_path(@business_config), method: "patch",data: { confirm: "return confirm('Do you really want to update config?"}) do %>
    <%= hidden_field_tag "referrer", dashboard_business_config_path -%>
      <div class="form-inline">
        <div class="form-group" style="margin-left: 255px;">
          Configuration&nbsp;&nbsp;<%= text_area_tag "config", @business_config.config.to_json, class: "form-control m-t-5", autocomplete: "off" ,style: "width: 450px;"-%>
        </div>
      </div>

    <%= submit_tag("Submit", :class => "btn btn-info m-t-5",:style => "    margin-left: 408px;margin-top: 30px;") -%>
    <%= link_to "Back", dashboard_home_path,:class => "btn btn-info index-link" %>

  <% end -%>
<style type="text/css">
  .index-link {
    text-transform: capitalize;
    margin-top: 30px;
  }
</style>