<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Dash Board</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">Active Buys</label>
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">Completed Buys</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table class="styled-table" width="100%" >
          <thead>
            <tr >
              <th scope="col">Sl No</th>
              <th scope="col">Date Of Sale</th>
              <th scope="col">Buyer's Name</th>

              <th scope="col">Scrip Amount Requested(Rs)</th>
              <th scope="col">Total Selected Scrip Value(Rs)</th>
              <th scope="col">Total Selected Scrip Price(Rs)</th>
              <th scope="col">Total Amount Saved(Rs)</th>
              <th scope="col">Submitted?</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @active_buys.present? %>
              <% @active_buys.each_with_index do |buy, index| %>
                <tr>
                  <td style="text-align: center;"><%= index+1 %></th>
                  <td><%= buy.buy_date.strftime('%d/%m/%Y') %></td>
                  <td ><%= buy.user.kyc_documents.first.name %></td>


                  <td><%= SellRequest.number_to_indian_currency((buy.scrip_value.to_d/100).to_f.round(2), false) %></td>
                  <td><%= SellRequest.number_to_indian_currency((buy.total_selected_scrip_value/100).to_f.round(2), false) %></td>
                  <td><%= SellRequest.number_to_indian_currency((buy.total_selected_scrip_sale_price/10000.00).to_f.round(2), false)  %></td>
                  <td><%= SellRequest.number_to_indian_currency(((buy.total_selected_scrip_value/100 - buy.total_selected_scrip_sale_price/10000.00)).to_f.round(2), false)  %></td>

                  <td><%= BuyRequest.is_it_sumitted(buy.submitted) %></td>
                  <td>
                    <div class="form-inline">
          <div class="form-group">
            <%= form_with(url: buy_request_path(buy), method: "delete",data: { confirm: "Do you really want to delete this?" }) do %>
              <%= hidden_field_tag "referrer", dashboard_buy_path -%>
              <%= button_tag(type: "submit", class: "btn") do %>
              <i class="fa fa-trash"></i>
              <% end %>
            <% end -%>
            <%= link_to ('<i class="fa fa-pencil-square-o" title="Select Scrips" style="text-decoration:none;color: inherit;"></i>').html_safe,dashboard_select_scrips_user_path(buy_id: buy.id) %>
          </div>
          </div>
              </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="9" style="text-align: center; "><b>There is no Active Buys</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div id="tab-content2">
        <table class="styled-table" width="100%" >
          <thead>
            <tr >
              <th scope="col">Sl No.</th>
              <th scope="col">Date Of Sale</th>
              <th scope="col">Buyer's Name</th>
              <th scope="col">Scrip Amount Requested(Rs)</th>
              <th scope="col">Total Selected Scrip Value(Rs)</th>
              <th scope="col">Total Selected Scrip Price(Rs)</th>
              <th scope="col">Total Amount Saved(Rs)</th>              
              <th scope="col">Completed Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @completed_buys.present? %>
              <% @completed_buys.each_with_index do |buy, index| %>
                <tr>
                  <td scope="row"><%= index+1 %></th>
                  <td><%= buy.buy_date.strftime('%d/%m/%Y') %></td>
                  <td ><%= buy.user.kyc_documents.first.name %></td>

                  <td><%= SellRequest.number_to_indian_currency((buy.scrip_value.to_d/100).to_f.round(2), false)  %></td>
                  <td><%= SellRequest.number_to_indian_currency((buy.total_selected_scrip_value/100 ).to_f.round(2), false)  %></td>
                  <td><%= SellRequest.number_to_indian_currency((buy.total_selected_scrip_sale_price/10000.00).to_f.round(2), false)    %></td>
                  <td><%= SellRequest.number_to_indian_currency((buy.total_selected_scrip_value/100 - buy.total_selected_scrip_sale_price/10000.00).to_f.round(2), false)    %></td>
                  <td><%= buy.sold_date  %></td>
                  <td>
                    <%= link_to ('<i class="fa fa-eye" title="View" style="font-size:23px"></i>').html_safe,dashboard_select_scrips_user_path(buy_id: buy.id) %>
                    <% if buy.is_auidted == true %>    
                    <i aria-hidden="true" class="fa fa-check-square-o fa-2x fa-lg" title="Audited"></i>
                    <% end %>              
                  </td>

                 </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="15" style="text-align: center; "><b>There is no Completed Buy Record</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
.btn {
  cursor: pointer;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}
.tab-table label {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-left: 1px;
    margin-top: -15px;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
#wrapper #content-wrapper {
     overflow-x: unset; 
}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast2_length{
  display: none
}

</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
    "pagingType": "full_numbers",
    "dom": 'lrtip',
    "bDestroy": true,
    "showNEntries" : false,
    "scrollY":        "450px",
    "scrollX":        true,
    "scrollCollapse": true,
    "paging":   true,
    "ordering": false,
    "info":     false,
    "searching": false,
    "fixedColumns":   {
        "leftColumns": 5
    },
    "aoColumnDefs": [
    {
    "sDefaultContent": '',
    aTargets: [ '_all' ]
    }
    ]
  });
     if ($(".dataTables_length").length > 1) {
    window.location.reload();
  }

    $('#paginationFirstLast2').DataTable({
      "pagingType": "full_numbers",
      "dom": 'lrtip',
      "bDestroy": true,
      "showNEntries" : false,
      "scrollY":        "450px",
    "scrollX":        true,
    "scrollCollapse": true,
    "paging":   true,
    "ordering": false,
    "info":     false,
    "searching": false,
    "fixedColumns":   {
        "leftColumns": 5
    },
    "aoColumnDefs": [
    {
    "sDefaultContent": '',
    aTargets: [ '_all' ]
    }
    ]
  });

});

</script>
