
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">INVOICES DASHBOARD</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">Invoices List</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table id="paginationFirstLast1"  width="100%">
          <thead>
            <tr style="background: rgb(212 216 226);border:1px;height: 5pc;">
              <th scope="col">Sl No.</th>
              <th scope="col">Date Of Sale</th>
              <th scope="col">Description</th>
              <th scope="col">Scrip Amount Requested(Rs)</th>
              <th scope="col">Scrip Amount Selected(Rs)</th>
              <th scope="col">Completed Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @buys.present? %>
              <% @buys.each_with_index do |buy, index| %>
                <tr>

                  <th scope="row" style="text-align: center"><%= index+1 %></th>
                  <td><%= buy[1][:buy_date].strftime('%d/%m/%Y') %></td>
                  <% if buy[1][:descrption].present? %>
                    <td style="text-align: center"><%= buy[1][:descrption] %></td>
                  <% else %>
                    <td style="text-align: center">--</td>
                  <% end %>
                  <td><%= buy[1][:scrip_value].to_d/100 %></td>
                  <td><%= buy[1][:selected_total_value].to_d/100 %></td>
                  <td><%= buy[1][:sold_date] %></td>

                  <td>                  

          <%= link_to ('<i class="fa fa-file-pdf-o" title="Select Scrips" style="text-decoration:none;color: inherit;"></i>').html_safe,dashboard_download_pdf_path(format: 'pdf',buy_id: buy), target: "_blank" %>

                  </td>

                 </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="15" style="text-align: center; "><b>There is no Completed Buy Record</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
.btn {
  cursor: pointer;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}

.tab-table label {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-left: 1px;
    margin-top: -15px;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}

.tab-table label {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-left: 1px;
    margin-top: -15px;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
#wrapper #content-wrapper {
     overflow-x: unset; 
}
#paginationFirstLast1_length{
  display: none
}

</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
// function generatePDF() {
//   // Choose the element that our invoice is rendered in.
//   // const element = document.getElementById("invoice");
//   // // Choose the element and save the PDF for our user.
//   // html2pdf()
//   //   .set({ html2canvas: { scale: 4 } })
//   //   .from(element)
//   //   .save();
//   var pdf = new jsPDF();
//   pdf.addHTML(document.querySelector('.print'), function() {
//     pdf.save('web.pdf');
//   });
// }

$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
    "pagingType": "full_numbers",
    "dom": 'lrtip',
    "aoColumnDefs": [
      {
      "sDefaultContent": '',
      aTargets: [ '_all' ]
      }
    ]        
  });
     if ($(".dataTables_length").length > 1) {
    window.location.reload();
  }
  
})
</script>
