<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
<div class="row">
  <div class="col-sm-12">
      <div class="panel panel-default invoice" id="invoice">
      <div class="panel-body">
      <div ></div>
        <div class="row">

        <div class="col-sm-6 top-left">

          <%= wicked_pdf_image_tag 'logo.jpg' %>

        </div>

        <div class="col-sm-6 top-right">
            <h3 class="marginright">INVOICE</h3>
            <span class="marginright"><%=  @buy_request.sold_date.strftime('%F')%></span>
          </div>
                <div class="row">
                  <div class="col-xs-6">
                    <address>
                      <strong>GST NO:123456789</strong><br>
                      <strong>PAN NO:123456789</strong><br>
                    </address>
      </div>
        <hr class="class-1" /> 

                <div class="row" >
                  <div class="col-xs-6" >
                    <address><u><b>Bill of Supply</b></u>
                    </address>
                  </div>
<br>
                <div class="row" style="margin-left: 50px">
                  <div class="col-xs-6">
                    <address>
                      <strong>TAX INVOICE NO: <%= @invoice_no%></strong><br>
                      <strong>PO NO:  -- </strong><br>

                    </address>
                  </div>
                  <div class="col-xs-6 text-right">
                    <address>
                      <strong>NAME:</strong><%= @kyc_doc.company_name %><br>

                                                <strong>ADDRESS:  </strong><%= @kyc_doc.company_address %>
                                                <br>
                                            <strong>STATE: </strong><%= @kyc_doc.state %><br>
<strong>GSTIN/UNIQE ID:  </strong><%= @kyc_doc.gst_number %><br>
<strong>PAN NO: </strong><%= @kyc_doc.kyc_pan_card_number %><br>
<strong>IEC NO: </strong><%= @kyc_doc.iec_number %><br>

                    </address>
                  </div>
                </div>


        <hr class="class-1" /> 


<h3 style="text-align:center">DESCRIPTION OF GOODS </h3>
      <div class="row table-row">

    <table class="table table-striped" id="customers" style="margin-left: 16px;">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>HSN</th>
          <th>Scrip Number</th>
          <th>Scrip Date</th>
          <th>Scrip Value (Rs)</th>
          <th>Sale Rate ('%')</th>
          <th>Sale Price (Rs)</th>
        </tr>
      </thead>
      <tbody>
        <% if @selected_sell_details.present? %>
          <% @selected_sell_details.each_with_index do |sale_detail, index| %>
            <tr>
              <td style="text-align: right;"><%= index+1 %></td>
              <td style="text-align: right;">4907</td>

              <td style="text-align: right;"><%= sale_detail[:sale].scrip_number %></td>
              <td style="text-align: right;"><%= sale_detail[:sale].scrip_date %></td>
              <td style="text-align: right;"><%= sale_detail[:sale].scrip_value.to_f/100 %></td>
              <td style="text-align: right;"><%= (sale_detail[:sale].rate.to_d + sale_detail[:binding].buy_commission.to_f)/100 %></td>
              <td style="text-align: right;"><%= ((sale_detail[:sale].rate.to_d + sale_detail[:binding].buy_commission.to_d)/10000)*(sale_detail[:sale].scrip_value.to_f/100)%></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="15" style="text-align: center; "><b>There is Selected Sales </b></td>
          </tr>  
        <% end -%>

      </tbody>
    </table>

      </div>
        <hr class="class-1" /> 


      <div class="col-xs-6 text-right pull-right invoice-total">
            <p>Subtotal : <%= @selected_sale_price /100 %></p>
                <p>CGST (0.00%) : 0.00 </p>
                <p>SGST (0.00%) : 0.00 </p>
                <p>IGST (0.00%): 0.00 </p>
                <p>TCS  (0.075%): <%= @total_tcs_price %> </p>
                <p>Total  : <%= (@selected_sale_price /100) + (@total_tcs_price).to_d  %> </p>
      </div>
      </div>

      </div>
    </div>
</div>
</div>
<div class="col-xs-6 text-right" style="margin-top: 95px;">
                    <address>
                      <strong>Bank:</strong>Axis Bank<br>

                                                <strong>Account No:  </strong>123456<br>
                                            <strong>Name: </strong>KARNATAKA<br>
<strong>IFSC:  </strong>123456<br>

                    </address>
                  </div>
<br>
<div class="col-xs-6 text-right">
                    <address>
                      Note:This is software generated invoice, signature not required
                    </address>
                  </div>

<style type="text/css">
  body{margin-top:20px;
background:#eee;
}

/*Invoice*/
.invoice .top-left {
    font-size:65px;
  color:#3ba0ff;
}

.invoice .top-right {
  text-align:right;
  padding-right:20px;
}

.invoice .table-row {
  margin-left:-15px;
  margin-right:-15px;
  margin-top:25px;
}

.invoice .payment-info {
  font-weight:500;
}

.invoice .table-row .table>thead {
  border-top:1px solid #ddd;
}

.invoice .table-row .table>thead>tr>th {
  border-bottom:none;
}

.invoice .table>tbody>tr>td {
  padding:8px 20px;
}

.invoice .invoice-total {
  margin-right:-10px;
  font-size:16px;
}

.invoice .last-row {
  border-bottom:1px solid #ddd;
}

.invoice-ribbon {
  width:85px;
  height:88px;
  overflow:hidden;
  position:absolute;
  top:-1px;
  right:14px;
}

.ribbon-inner {
  text-align:center;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  position:relative;
  padding:7px 0;
  left:-5px;
  top:11px;
  width:120px;
  background-color:#66c591;
  font-size:15px;
  color:#fff;
}

.ribbon-inner:before,.ribbon-inner:after {
  content:"";
  position:absolute;
}

.ribbon-inner:before {
  left:0;
}

.ribbon-inner:after {
  right:0;
}

@media(max-width:575px) {
  .invoice .top-left,.invoice .top-right,.invoice .payment-details {
    text-align:center;
  }

  .invoice .from,.invoice .to,.invoice .payment-details {
    float:none;
    width:100%;
    text-align:center;
    margin-bottom:25px;
  }

  .invoice p.lead,.invoice .from p.lead,.invoice .to p.lead,.invoice .payment-details p.lead {
    font-size:22px;
  }

  .invoice .btn {
    margin-top:10px;
  }
}

@media print {
  .invoice {
    width:900px;
    height:800px;
  }
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 2px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
hr.class-1 { 
    border-top: 10px solid #8c8b8b; 
} 
</style>
