<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Select Script</h2> 
</nav>
<table class="styled-table" style="margin-left: 102px;margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Date Of Sale</th>
        <th scope="col">Scrip Amount Requested(Rs)</th>
        <th scope="col">Scrip Amount Selected(Rs)</th>
        <th scope="col">Scrip Sale Price(Rs)</th>
        <th scope="col">Total Amount Saved(Rs)</th>
        <% if @buy_request.sold == false %> 
          <th scope="col">Actions</th>
        <% else %>  
          <th scope="col">Audited</th>
        <% end %>  
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= @buy_request.buy_date.strftime('%d/%m/%Y') %></td>
        <td><%= @buy_request.scrip_value.to_d/100 %></td>
        <td><%= %><%= @selected_total_value/100 %></td>
        <td><%= %><%= (@selected_sale_price/10000).round(2) %></td>
        <td><%= %><%= (@selected_total_value/100 - @selected_sale_price/10000).round(2) %></td>
        <% if @buy_request.sold == false %>
          <td class="row">
            <%= form_with(url: buy_request_path(@buy_request),local: true,   :html => { :onsubmit => "return confirm('Do you really want to delete this?');" }, :method => "delete",) do %>
              <%= hidden_field_tag "referrer", dashboard_buy_path -%>
              <%= button_tag(type: "submit", class: "btn") do %>
                <i class="fa fa-trash" title="delete"></i>
              <% end %>
            <% end -%>
            <%= link_to ('<i class="fa fa-pencil-square-o" title="edit"></i>').html_safe,edit_buy_request_path(@buy_request) %>
          </td>
        <% else %>
          
        <td><%= %><%= @buy_request.is_auidted %></td>
        <% end %>

      </tr>
    </tbody>
</table>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title" style="padding-left: 365px">Selected Scrip</h2> 
</nav>

<table class="styled-table" style="margin-left: 100px;">
    <thead>
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Scrip Number</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Seller Phonenumber</th>

      <th scope="col">Scrip Date</th>
      <th scope="col">Scrip Value (Rs)</th>
      <th scope="col">Sale Rate ('%')</th>
      <th scope="col">Sale Price (Rs)</th>
      <th scope="col">Sold</th>
      <% if @buy_request.sold == false  &&  @buy_request.submitted != true%>
        <th scope="col">Actions</th>
      <% end %>  
    </tr>
    </thead>
    <tbody>
      <% if @selected_sell_details.present? %>
        <% @selected_sell_details.each_with_index do |sale_detail, index| %>
          <tr>
            <td scope="row"><%= index+1 %></th>
            <td class="trigger"><%= link_to "#{sale_detail[:sale].scrip_number}", verify_sell_path(sale_detail[:sale]) , target: :_blank%> </td>
            <td class="trigger"> <%= sale_detail[:sale]&.user&.kyc_documents.first.name  %></td>
            <td class="trigger"> <%= sale_detail[:sale]&.user&.kyc_documents.first.phonenumber %></td>

            <td><%= sale_detail[:sale].scrip_date %></td>
            <td><%= sale_detail[:sale].scrip_value/100 %></td>
            <td><%= ((sale_detail[:sale].rate.to_d + sale_detail[:binding].buy_commission.to_d)/100).round(2) %></td>
            <td><%= (((sale_detail[:sale].rate.to_d + sale_detail[:binding].buy_commission.to_d)/10000)*(sale_detail[:sale].scrip_value.to_d/100)).round(2) %></td>
                <% if sale_detail[:sale].sold == true %>
                  <td>Yes</td>
                <% else %>
                  <td>No</td>                        
                <% end %>
            <% if @buy_request.sold == false && @buy_request.submitted != true %>
              <td><%= form_with(url: buy_sell_binding_path(sale_detail[:binding]),local: true,  :html => { :onsubmit => "return confirm('Do you really want to deselect this?');" }, method: "delete") do -%>
                <%= hidden_field_tag "referrer", dashboard_select_scrips_user_path(buy_id:@buy_request.id) -%>
                <%= submit_tag("Deselect", :class => "btn btn-info") -%>
              <% end -%></td>
            <% end %>  
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="15" style="text-align: center; "><b>There is Selected Sales </b></td>
        </tr>  
      <% end -%>

    </tbody>
</table>


<% if @buy_request.sold == false && @buy_request.submitted != true %>
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <h2 class="title" style="padding-left: 365px">Available Scrip</h2> 
  </nav>
  <table class="styled-table" style="margin-left: 100px;">
    <thead>
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Scrip Number</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Seller Phonenumber</th>

      <th scope="col">Scrip Date</th>
      <th scope="col">Scrip Value (Rs)</th>
      <th scope="col">Sale Rate ('%')</th>
      <th scope="col">Sale Price (Rs)</th>
      <th scope="col">Sold</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      <% if @available_sell_details.present? %>
        <% @available_sell_details.each_with_index do |sale_detail, index| %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td class="trigger"><%= link_to "#{sale_detail[:sale].scrip_number}", verify_sell_path(sale_detail[:sale]) , target: :_blank%> </td>
            <td class="trigger"> <%= sale_detail[:sale]&.user&.kyc_documents.first.name  %></td>
            <td class="trigger"> <%= sale_detail[:sale]&.user&.kyc_documents.first.phonenumber %></td>

            <td><%= sale_detail[:sale].scrip_date %></td>
            <td><%= sale_detail[:sale].scrip_value/100 %></td>
            <td><%= ((sale_detail[:sale].rate.to_d + @business_config.config["buy_commission"].to_d)/100).round(2) %></td>
            <td><%= (((sale_detail[:sale].rate.to_d + @business_config.config["buy_commission"].to_d)/10000)*(sale_detail[:sale].scrip_value.to_d/100)).round(2) %></td>
                <% if sale_detail[:sale].sold == true %>
                  <td>Yes</td>
                <% else %>
                  <td>No</td>                        
                <% end %>

            <td><%= form_with(url: buy_sell_binding_index_path, method: "post", :html => { :onsubmit => "return confirm('Do you really want to select this?');" }) do %>
              <%= hidden_field_tag "referrer", dashboard_select_scrips_user_path(buy_id:@buy_request.id)  -%>
              <%= hidden_field_tag "buy_request_id", @buy_request.id -%>
              <%= hidden_field_tag "sell_request_id", sale_detail[:sale].id -%>
              <%= submit_tag("Select", :class => "btn btn-primary") -%>
            <% end -%></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="15" style="text-align: center; "><b>There is Available Sales </b></td>
        </tr>
      <% end -%>

    </tbody>
  </table>
  <% if  @buy_request.submitted != true %>
    <%= form_with(url: buy_request_submit_path(@buy_request), method: "post", :html => { :onsubmit => "return confirm('Do you really want to submit this?');" }) do %>
      <%= hidden_field_tag "referrer", dashboard_buy_path -%>
      <%= submit_tag("Submit", :class => "btn btn-info",:style =>"margin-left: 395px") -%>
      <%= link_to "Back", dashboard_buy_path,:class => "btn btn-info index-link" ,:style =>"    margin-top: 2px;
    height: 34px;
    margin-left: 10px;"%>
    <% end -%>
  <% end %>
  
<% end %>
<% if  @buy_request.submitted == true %>
      <%= link_to "Back", dashboard_buy_path,:class => "btn btn-info index-link",:style =>"    margin-left: 429px;" %>
<% end %>

    <% if @user.is_super_admin?  %>
<% if @buy_request.is_auidted != true && @buy_request.sold == true%>
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <h2 class="title" style="padding-left: 365px">Audit Actions</h2> 
  </nav>


    <div class="kyc-document-div">
        <div class="button-div">
            <%= form_with(url: buy_request_audit_path(@buy_request), method: "post", :html => { :onsubmit => "return confirm('Do you really want approve Buy Request?');" } ) do %>
                <%= submit_tag("Audit Approve", :class => "btn btn-success",:style =>"    margin-left: 298px;") %>
            <% end %>



        </div>

        <div class="button-div ">
            <%= form_with(url: buy_request_audit_reject_path(@buy_request), method: "post", :html => { :onsubmit => "return confirm('Do you really want audit reject ?');" } ) do %>
                <%= text_area_tag :message, nil, placeholder: "Rejection Reason" ,style:"    margin-top: -75px;
    margin-left: 440px;
}"%>
                <%= submit_tag("Audit Reject", :class => "btn btn-danger",:style => "    margin-top: -72px;
    width: 104px;
    margin-left: 600px;") %>
            <% end %>

            </form>
        </div>
    </div>
  <% else %>

 <% end %>   

 <% end %>   


<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 64px;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
  .index-link {
    text-transform: capitalize;
  }
#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
  }
</style>
