<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <h2 class="title" >verify Buy</h2> 
</nav>

<table class="styled-table" style="margin-top: 0px;">
    <thead>
    <tr>
      <th style="padding-left: 253px" colspan="2">Buyer Details</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @buy_name %></td>
      </tr>
      <tr>
        <td>Phonenumber</td>
        <td><%= @buy_phonenumber %></td>
      </tr>
      <% if @buy_request.is_locked == true %>
        <tr>
          <td>Locked By</td>
          <% @user = User.find @buy_request.locked_by_user_id %>
          <td><%= @user[:email]  %>(Role:Oops)</td>
        </tr>
      <% end %>
    </tbody>
</table>

<table class="styled-table" style="margin-top: 0px;">
    <thead>
    <tr>
      <th style="padding-left: 322px" colspan="9">Active Buys</th>
    </tr>
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Date Of Sale</th>
      <th scope="col">Scrip Amount Requested(Rs)</th>
      <th scope="col">Scrip Amount Selected(Rs)</th>
      <th scope="col">Total Sale Price(Rs)</th>
      <th scope="col">Total Amount Saved(Rs)</th>
      <th scope="col">Sold</th>

    </tr>

    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= @buy_request.buy_date.strftime('%d/%m/%Y') %></td>
        <td><%= SellRequest.number_to_indian_currency(( @buy_request.scrip_value.to_d/100).to_f.round(2), false)   %></td>
        <td><%= %><%= SellRequest.number_to_indian_currency(( (@selected_total_value/100)).to_f.round(2), false)  %></td>
        <td><%= %><%= SellRequest.number_to_indian_currency((@selected_sale_price/100).to_f.round(2), false)   %></td>
        <% amount_1 = (@selected_total_value/100 - @selected_sale_price/100).round(2) %>
        <td><%= %><%= SellRequest.number_to_indian_currency((amount_1).to_f.round(2), false) %></td>
        <% if @buy_request.sold == true %>
          <td>Yes</td>
        <% else %>
          <td>No</td>                        
        <% end %>
      </tr>
    </tbody>
</table>


<hr/>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title" style="padding-left: 365px">Selected Sales</h2> 
</nav>

<table class="styled-table" style="margin-top: 0px;margin-left: 100px;">
    <thead>
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Seller Phonenumber</th>
      <th scope="col">Scrip Number</th>
      <th scope="col">Scrip Date</th>
      <th scope="col">Scrip Value (Rs)</th>
      <th scope="col">Sale Rate ('%')</th>
      <th scope="col">Sale Price (Rs)</th>
      <th scope="col">Sold</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
  <tbody>
    <% if @selected_sell_details.present? %>
      <% @selected_sell_details.each_with_index do |sale_detail, index| %>
        <tr>
          <td scope="row"><%= index+1 %></th>
          <td><%= sale_detail[:name] %></td>
          <td><%= sale_detail[:phonenumber] %></td>
          <td><%= link_to "#{sale_detail[:sale].scrip_number}", verify_sell_path(sale_detail[:sale]) , target: :_blank%> </td>
          <td><%= sale_detail[:sale].scrip_date %></td>
          <td><%= SellRequest.number_to_indian_currency(( sale_detail[:sale].scrip_value/100).to_f.round(2), false)  %></td>
          <td><%= SellRequest.number_to_indian_currency(( (sale_detail[:sale].rate.to_d + sale_detail[:binding].buy_commission.to_d)/100).to_f.round(2), false)    %></td>
          <% amount2 = (((sale_detail[:sale].rate.to_d + sale_detail[:binding].buy_commission.to_d)/10000)*(sale_detail[:sale].scrip_value.to_d/100)).round(2)%>

          <td><%= SellRequest.number_to_indian_currency(( amount2).to_f.round(2), false) %></td>

          <% if sale_detail[:sale].sold == true %>
            <td>Yes</td>
          <% else %>
            <td>No</td>                        
          <% end %>

          <td><%= form_with(url: buy_sell_binding_path(sale_detail[:binding]),local: true,  :html => { :onsubmit => "return confirm('Do you really want to deselect this?');" }, method: "delete") do -%>
            <%= hidden_field_tag "referrer", dashboard_select_scrips_ops_path(buy_id:@buy_request.id,can_ops_sumbit:"true") -%>
            <%= submit_tag("Deselect", :class => "btn btn-info") -%>
          <% end -%></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="15" style="text-align: center; "><b>There is Selected Sales </b></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title" style="padding-left: 365px">Available Sales</h2> 
</nav>

<table class="styled-table" style="margin-top: 0px;margin-left: 100px;">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Seller Phonenumber</th>
        <th scope="col">Scrip Number</th>
        <th scope="col">Scrip Date</th>
        <th scope="col">Scrip Value (Rs)</th>
        <th scope="col">Sale Rate ('%')</th>
        <th scope="col">Sale Price (Rs)</th>
        <th scope="col">Sold</th>
        <th scope="col">Actions</th>
      </tr>

    </thead>
  <tbody>
    <% if @available_sell_details.present? %>
      <% @available_sell_details.each_with_index do |sale_detail, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= sale_detail[:name] %></td>
        <td><%= sale_detail[:phonenumber] %></td>
        <td><%= link_to "#{sale_detail[:sale].scrip_number}", verify_sell_path(sale_detail[:sale]), target: :_blank %></td>
        <td><%= sale_detail[:sale].scrip_date %></td>
        <td><%= SellRequest.number_to_indian_currency(( sale_detail[:sale].scrip_value/100).to_f.round(2), false)      %></td>
        <td><%= SellRequest.number_to_indian_currency(( (sale_detail[:sale].rate.to_d + @business_config.config["buy_commission"].to_d)/100).to_f.round(2), false)    %></td>
        <% amount3 = (((sale_detail[:sale].rate.to_d + @business_config.config["buy_commission"].to_d)/10000)*(sale_detail[:sale].scrip_value.to_d/100)).round(2) %>

        <td><%= SellRequest.number_to_indian_currency(( amount3).to_f.round(2), false)  %></td>

        <% if sale_detail[:sale].sold == true %>
          <td>Yes</td>
        <% else %>
          <td>No</td>                        
        <% end %>

        <td><%= form_with(url: buy_sell_binding_index_path, method: "post", :html => { :onsubmit => "return confirm('Do you really want to select this?');" }) do %>
          <%= hidden_field_tag "referrer", dashboard_select_scrips_ops_path(buy_id:@buy_request.id)  -%>
          <%= hidden_field_tag "buy_request_id", @buy_request.id -%>
          <%= hidden_field_tag "sell_request_id", sale_detail[:sale].id -%>
          <%= submit_tag("Select", :class => "btn btn-primary") -%>
        <% end -%></td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="15" style="text-align: center; "><b>There is Available Sales </b></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to "Back", dashboard_buy_path,:class => "btn btn-info index-link" ,:style =>"margin-left: 395px;"%>
<% @can_sold = @buy_request.sold  %>
<% @can_lock = @buy_request.is_locked == true %>

<% if  @can_sold !=  true && (@buy_request.is_locked == false || (@buy_request.is_locked == true && @buy_request.locked_by_user_id == current_user[:id]))  %>
<%= form_with(url: buy_request_is_sold_path(@buy_request), method: "post", :html => { :onsubmit => "return confirm('Do you really want to Sold this?');" }) do %>
  <%= submit_tag("Sold", :class => "btn btn-success ",:style =>"margin-top: -58px;margin-left: 495px;width: 67px;height: 35px;") -%>
<% end -%>
<% end -%>
<% if @buy_request.submitted == true && !@can_lock%>
<%= link_to "Reject",buy_request_reject_buy_path(@buy_request),:class => "btn btn-info index-link" ,:style =>"    margin-left: 590px;
    margin-top: -100px;
    background: #7d646d;"%>
<% else %>
<%= link_to "Reject",buy_request_reject_buy_path(@buy_request),:class => "btn btn-info index-link" ,:style =>"     margin-left: 590px;
    margin-top: -100px;
    background: #7d646d;"%>

<% end %>
<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: -66px;
    margin-left: 125px;    
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.index-link {
  text-transform: capitalize;
}
</style>
