
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Dash Board</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">Active Sale</label>
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">Unverified Sales</label>
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">Completed Sales</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table class="styled-table" width="100%" >
            <thead>
                    <tr>
                      <th scope="col">Sl No</th>
                      <th scope="col">Scrip Number</th>
                      <th scope="col">Scrip Date</th>
                      <th scope="col">Scrip Value (Rs)</th>
                      <th scope="col">Sale Rate ('%')</th>
                      <th scope="col">Sale Price (Rs)</th>
                      <th scope="col">Commission ('%')</th>
                      <th scope="col">Commission (Rs)</th>
                      <th scope="col">Net Earnings (Rs)</th>
                      <th scope="col">Verified</th>
                      <th scope="col">Sold</th>
                    </tr>
            </thead>
                  <tbody>
                    <% if @active_sales.present? %>
                      <% @active_sales.each_with_index do |sale, index| %>
                      <tr>
                        <td style="text-align: center;"><%= index+1 %></td>
                        <td><%= sale.scrip_number %></td>
                        <td><%= sale.scrip_date %></td>
                        <td><%= SellRequest.number_to_indian_currency(sale.scrip_value/100, false)  %></td>
                        <td><%= sale.rate.to_d/100 %></td>
                        <td><%= SellRequest.number_to_indian_currency((sale.rate.to_d/10000)*(sale.scrip_value.to_d/100), false) %></td>
                        <td><%= (sale.commission.to_d/100).to_f %></td>
                        <td><%= (sale.commission.to_d/10000)*(sale.scrip_value.to_d/100) %></td>
                        <% net_earnings = ((sale.rate.to_d/10000) - (sale.commission.to_d/10000))*(sale.scrip_value.to_d/100)   %>
                        <td><%= SellRequest.number_to_indian_currency(net_earnings, false)    %></td>

                        
                        <% if sale.verified == true %>
                          <td>Yes</td>
                        <% else %>
                          <td> No</td>                        
                        <% end %>
                        <% if sale.sold == true %>
                          <td>Yes</td>
                        <% else %>
                          <td> No </td>                        
                        <% end %>
                      </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td colspan="15" style="text-align: center; "><b>There is no Active Sale</b></td>
                      </tr>
                    <% end -%>
                  </tbody>
        </table>
      </div>
      <div id="tab-content2">
        <table class="styled-table" width="100%" >
            <thead>
              <tr>
                <th scope="col">Sl No</th>
                <th scope="col">Scrip Number</th>
                <th scope="col">Scrip Date</th>
                <th scope="col">Scrip Value (Rs)</th>
                <th scope="col">Sale Rate ('%')</th>
                <th scope="col">Sale Price (Rs)</th>
                <th scope="col">Commission ('%')</th>
                <th scope="col">Commission (Rs)</th>
                <th scope="col">Net Earnings (Rs)</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
          <tbody>
            <% if @unverified_sales.present? %>
              <% @unverified_sales.each_with_index do |sale, index| %>
                <tr>
                  <td style="text-align: center;"><%= index + 1 %></td>
                  <td><%= sale.scrip_number %></td>
                  <td><%= sale.scrip_date %></td>
                  <td><%= SellRequest.number_to_indian_currency(sale.scrip_value/100, false)   %></td>
                  <td><%= sale.rate.to_d/100 %></td>
                  <td><%= SellRequest.number_to_indian_currency(((sale.rate.to_d/10000)*(sale.scrip_value.to_d/100)).to_f.round(2), false) %></td>
                  <td><%= (sale.commission.to_d/100).to_f %></td>
                  <td><%= ((sale.commission.to_d/10000)*(sale.scrip_value.to_d/100)).to_f.round(2) %></td>
                  <% earning_1 =  ((sale.rate.to_d/10000) - (sale.commission.to_d/10000))*(sale.scrip_value.to_d/100)   %>
                  <td><%= SellRequest.number_to_indian_currency(earning_1.to_f.round(2) , false)   %></td>

                  
                  <td >
                    <div class="form-inline">
                      <div class="form-group">
                        <%= form_with(url: sell_request_path(sale), method: "delete",data: { confirm: "Do you really want to delete this?" }) do %>
                          <%= hidden_field_tag "referrer", dashboard_sell_path -%>
                          <%= button_tag(type: "submit", class: "btn") do %>
                                  <i class="fa fa-trash" title="delete"></i>
                          <% end %>
                        <% end -%>
                        <%= link_to ('<i class="fa fa-pencil-square-o" title="edit"></i>').html_safe,edit_sell_request_path(sale) %>
                        <% if sale.rejected %>
                          <%= form_with(url: sell_request_resubmit_path(sale), method: "post",data: { confirm: "Do you really want to resubmit this?" }) do %>
                            <%= hidden_field_tag "referrer", dashboard_sell_path -%>
                            <%= button_tag(type: "submit", class: "btn") do %>
                            <i class="fa fa-repeat" title="Resubmit Sell Request"></i>
                            <% end %>
                          <% end -%>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="10" style="text-align: center; "><b>There is no UnVerified Sales Record</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div id="tab-content3">
        <table class="styled-table" width="100%" >
          <thead>
            <tr>
              <th scope="col">Sl No</th>
              <th scope="col">Scrip Number</th>
              <th scope="col">Scrip Date</th>
              <th scope="col">Scrip Value (Rs)</th>
              <th scope="col">Sale Rate ('%')</th>
              <th scope="col">Sale Price (Rs)</th>
              <th scope="col">Commission ('%')</th>
              <th scope="col">Commission (Rs)</th>
              <th scope="col">Net Earnings (Rs)</th>
              <th scope="col">Verified</th>
              <th scope="col">Sold</th>
              <th scope="col">Actions</th>

            </tr>
          </thead>
          <tbody>
            <% if @completed_sales.present? %>
              <% @completed_sales.each_with_index do |sale, index| %>
                <tr>
                  <td style="text-align: center;"><%= index+1 %></td>
                  <td><%= sale.scrip_number %></td>
                  <td><%= sale.scrip_date %></td>
                  <td><%= SellRequest.number_to_indian_currency(sale.scrip_value/100, false) %></td>
                  <td><%= sale.rate/100 %></td>
                  <td><%= SellRequest.number_to_indian_currency(((sale.rate.to_d/10000)*(sale.scrip_value.to_d/100)).to_f.round(2), false) %></td>
                  <td><%= (sale.commission.to_d/100).to_f.round(2) %></td>
                  <td><%= (sale.commission.to_d/10000)*(sale.scrip_value.to_d/100) %></td>
                  <% earning2 = (((sale.rate.to_d/10000) - (sale.commission.to_d/10000))*(sale.scrip_value.to_d/100)).to_f.round(2) %>
                  <td><%= SellRequest.number_to_indian_currency(earning2 , false)   %></td>

                        <% if sale.verified == true %>
                          <td>Yes</td>
                        <% else %>
                          <td>No</td>                        
                        <% end %>
                        <% if sale.sold == true %>
                          <td>Yes</td>
                        <% else %>
                          <td>No</td>                        
                        <% end %>
                  <td >
                    <div class="form-inline">
                      <div class="form-group">
                          <%= form_with(url: sell_request_upload_invoice_path(sale), method: "post",data: { confirm: "Do you really want to Upload Invoice?" }) do %>
                            <%= hidden_field_tag "referrer", dashboard_sell_path -%>
                            <%= button_tag(type: "submit", class: "btn") do %>
                            <i class="fas fa-file-invoice" title="Upload Invoice" style="font-size:23px"></i>
                            <% end %>
                          <% end -%>

                                      

                      </div>
                    </div>
                  </td>


                </tr>
              <% end %>
            <% else %>  
              <tr>
                <td colspan="10" style="text-align: center; "><b>There is no Completed Sales Record</b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>



      </div>
    </div>
  </div>
</div>




<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>




<style>
.btn {
  cursor: pointer;

}
.tab-table label {
    margin-bottom: 0px;
    margin-left: -14px;
    padding-left: 21px;
    margin-top: -64px;
}#wrapper #content-wrapper {
     overflow-x: unset; 
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast2_length{
  display: none
}
#paginationFirstLast_length{
  display: none
}
</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
    "pagingType": "full_numbers",
    "dom": 'lrtip',
  "columnDefs": [{
    "defaultContent": "-",
    "targets": "_all"
  }],
  "bDestroy": true,
  "aoColumnDefs": [
  {
  "sDefaultContent": '',
  "aTargets": [ '_all' ]
  }
  ]  
  
  });
     if ($(".dataTables_length").length > 1) {
    window.location.reload();
  }
  
  $('#paginationFirstLast2').DataTable({
    "pagingType": "full_numbers",
    "dom": 'lrtip',
    "columnDefs": [{
      "defaultContent": "-",
      "targets": "_all"
    }],
    "bDestroy": true,
    "aoColumnDefs": [
    {
    "sDefaultContent": '',
    "aTargets": [ '_all' ]
    }
    ]  
  });
  $('#paginationFirstLast').DataTable({
    "pagingType": "full_numbers",
    "dom": 'lrtip',
    "columnDefs": [{
      "defaultContent": "-",
      "targets": "_all"
    }],
    "bDestroy": true,
    "aoColumnDefs": [
    {
    "sDefaultContent": '',
    "aTargets": [ '_all' ]
    }
    ]  
  });

});


</script>
<!-- <table style="border:1px solid black;border-collapse:collapse;">
<tr>
<th style="border:1px solid red;">Table Header</th><th style="border:1px solid red;">Table Header</th>
</tr>
<tr>
<td style="border:1px solid red;">Table cell 1</td><td style="border:1px solid red;">Table cell 2</td>
</tr>
<tr>
<td style="border:1px solid red;">Table cell 3</td><td style="border:1px solid red;">Table cell 4</td>
</tr>
</table>
 -->
