<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Verify Buy Request</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">Active Buys</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table class="styled-table" width="100%" >
          <thead>
            <tr>
              <th scope="col" style="text-align: center;">Sl No</th>
              <th scope="col" style="text-align: center;">Buyer Name</th>
              <th scope="col" style="text-align: center;">Seller Name</th>

              <th scope="col" style="text-align: center;">Date Of Sale</th>
              <th scope="col" style="text-align: center;">Scrip Amount Requested(Rs)</th>
              <th scope="col">Total Selected Scrip Value(Rs)</th>
              <th scope="col">Total Selected Scrip Price(Rs)</th>
              <th scope="col">Total Amount Saved(Rs)</th>                            
              <th scope="col" style="text-align: center;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @active_buys.present? %>
              <% @active_buys.each_with_index do |buy, index| %>
              <% buy.buy_sell_bindings.each_with_index do |buy_sell, index| %>
                <tr>
                  <td scope="row" style="text-align: center;"><%= index+1 %></td>
                  <td scope="row" style="text-align: center;"><%= buy.user.kyc_documents.first.name %></td>
                  <td scope="row" style="text-align: center;"><%= buy_sell.sell_request.user.kyc_documents.first.name %></td>


                  <td style="text-align: center;"><%= buy.buy_date.strftime('%d/%m/%Y') %></td>
                  <td style="text-align: center;"><%= buy.scrip_value.to_d/100 %></td>
                  <td><%= buy.total_selected_scrip_value/100 %></td>
                  <td><%= (buy.total_selected_scrip_sale_price/10000.00).round(2) %></td>
                  <td><%= (buy.total_selected_scrip_value/100 - buy.total_selected_scrip_sale_price/10000.00).round(2) %></td>
                  <td>
                  <%= link_to ('<i class="fa fa-pencil-square-o" title="Select Scrips" style="text-decoration:none;color: inherit;"></i>').html_safe,dashboard_select_scrips_ops_path(buy_id: buy.id) %>
                  </td>
                </tr>
              <% end %>
              <% end %>
            <% else %>
              <tr>
                <td colspan="15" style="text-align: center; "><b>There is no Buy Request </b></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div  style="margin-left:560px;">
  <%= link_to "Back", dashboard_home_path,:class => "btn btn-info index-link" %>
</div>

<style>
.btn {
  cursor: pointer;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}

.tab-table label {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-left: 1px;
    margin-top: -15px;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
#wrapper #content-wrapper {
     overflow-x: unset; 
}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast2_length{
  display: none
}

</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
      "pagingType": "full_numbers",
      "dom": 'lrtip',
      "bDestroy": true,
      "bProcessing": true,
      "aoColumnDefs": [
        {
        "sDefaultContent": '',
        aTargets: [ '_all' ]
        }
      ]
  });
       if ($(".dataTables_length").length > 1) {
    window.location.reload();
  }

    $('#paginationFirstLast2').DataTable({
      "pagingType": "full_numbers",
      "dom": 'lrtip',
      "bDestroy": true,
      "aoColumnDefs": [
        {
        "sDefaultContent": '',
        aTargets: [ '_all' ]
        }
      ]
    });
});
</script>
