
<div id="wrapper">
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
   <div class="content">
        <!-- Topbar -->
   <nav class="navbar navbar-expand navbar-light bg-custom topbar mb-4 static-top shadow">

     <!-- Sidebar Toggle (Topbar) -->
     <button id="sidebarToggleTop" class="btn btn-link d-md-none mr-3">
       <span class="material-icons">menu</span>
     </button>
   </nav>
   
   <!-- End of Topbar -->

   <div class="container-fluid">
   <div class="logo-wrap" style="margin-top: 10px;
    margin-left: 10px;">
   <% if @kyc_document.status == 'DRAFT' %>
       <h2>WelCome to ScripMarket</h2>
       <h5>Please fill the below to proceed.</h5>
   <% end %>
   <% if @kyc_document.status == 'SUBMITTED' %>
       <h2>Waiting for Approval</h2>
       <h5>Our client executive is verifying your Information</h5>
   <% end %>
   <% if @kyc_document.status == 'REJECTED' %>
       <h2>Please Resubmit Information</h2>
       <h5>We found some errors in your KYC documents. Please correct them and resubmit</h5>
       <span>Rejection Reason: <%= @kyc_document.rejection_reason %></span>
    <% end %>
   <hr></hr>
   </div>


     <h4 class="general-heading mb-3 mt-3" style="margin-top: 10px;
    margin-left: 10px;"> Information </h4>
     <% if @kyc_document.status != 'SUBMITTED' and @kyc_document.status != 'APPROVED' %>
     <p id="kyc-document-information-message" class="alert alert-info"></p>
     <div class="row">
         <%= form_with(url: kyc_document_path(@kyc_document), method: "post", :html => { :id=>"kyc-document-information-form",  :class => "form-group m-b-15 information-form col-12" }) do %>
         <ul class="col-12 kyc-sub">
           <li class="col-xl-6 col-md-12 mb-3 mt-3"><%= text_field_tag(:name, @kyc_document.name, :class => "input-group-text", :placeholder => "Name", :id => "kyc-document-information-name") %> </li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_field_tag(:name, @kyc_document.phonenumber, :class => "input-group-text", :placeholder => "Phone Number", :id => "kyc-document-information-phonenumber") %>           </li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_field_tag(:official_email, @kyc_document.official_email, :class => "input-group-text", :placeholder=> "Official Email",:id => "kyc-document-information-official-email") %></li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_field_tag(:company_name, @kyc_document.company_name, :class => "input-group-text", :placeholder=> "Company Name", :id => "kyc-document-information-company-name") %></li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_field_tag(:gst_number, @kyc_document.gst_number, :class => "input-group-text", :placeholder=> "GST Number",:id => "kyc-document-information-gst_number") %></li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_field_tag(:kyc_pan_card_number,@kyc_document.kyc_pan_card_number, :class => "input-group-text", :placeholder=> "PAN Card Number",:id => "kyc-document-information-kyc_pan_card_number") %></li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_field_tag(:iec_number,@kyc_document.iec_number, :class => "input-group-text", :placeholder=> "IEC Number",:id => "kyc-document-information-iec_number") %></li>
           <li class="col-xl-6 col-md-12 mb-3 mt-3"><%= text_field_tag(:state, @kyc_document.state, :class => "input-group-text", :placeholder => "State", :id => "kyc-document-information-state") %> </li>
           <li class="col-xl-6 col-md-12 mb-3"><%= text_area_tag(:company_address, @kyc_document.company_address.presence || "Company Address" , :class => "input-group-text", :id => "kyc-document-information-company-address") %></li>
           <li class="col-xl-12 col-md-12 mb-3"><button kyc_id="<%= @kyc_document.id %>" id="kyc-document-information-submit" class="btn btn-info m-t-5 my-link" style="background-color: #0062cc;">Submit Information As Draft</button> </li>
         </ul>
         <% end %>
     </div>

     <%= form_with(url: kyc_document_approval_path(@kyc_document), method: "post",data: { confirm: "Do you really want submit kyc?", :class => "m-b-15" }) do %>
         <%= submit_tag("Submit Application for Approval", :class => "btn btn-success col-xs-12 col-xl-6", :style=>"background-color: #0062cc;margin-left: 280px;width: 264px;margin-top: -121px;") %>
     <% end %> 
     <% else %>
     <hr>
      <table style="margin-left: 20px;">
        <tr>
          <th><strong>Name:</strong></th>
          <td><%= @kyc_document.company_name %></td>
        </tr>
        <tr>
          <th><strong>Official Email:</strong></th>
          <td><%= @kyc_document.official_email %></td>
        </tr>
        <tr>
          <th><strong>Phone Number:</strong></th>
          <td><%= @kyc_document.phonenumber %></td>
        </tr>
        <tr>
          <th><strong>Company Name:</strong></th>
          <td><%= @kyc_document.company_name %></td>
        </tr>

        <tr>
          <th>Company Address:</th>
          <td><%= @kyc_document.company_address %></td>
        </tr>
        <tr>
          <th>GST Number:</th>
          <td><%= @kyc_document.gst_number %></td>
        </tr>
        <tr>
          <th>PAN Number:</th>
          <td><%= @kyc_document.kyc_pan_card_number %></td>
        </tr>
        <tr>
          <th>IEC Number:</th>
          <td><%= @kyc_document.iec_number %></td>
        </tr>
        <tr>
          <th>State:</th>
          <td><%= @kyc_document.state %></td>
        </tr>
        
      </table>
     <% end %>
     <div id="kyc-document-view">
     <img id='kyc-document-view-image'/>
     </div>
     </div>
     </div>
   </div>
   </div>
</div>
</div>
  <style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
input[type="file"] {
padding-left: 0px
}

</style>
