<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">KYC DOCUMENTS</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">KYC DOCUMENTS</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table class="styled-table" width="100%" >
          <thead>
          <tr>
            <th>User</th>
            <th>Status</th>
            <th>Approved by</th>
            <th>Approved on</th>
            <th>Rejection reason</th>
            <th>Valid till</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <% @kyc_documents.each do |kyc_document| %>
              <tr>
                  <td><%= kyc_document.user.email %></td>
                  <td><%= kyc_document.status %></td>
                  <% if kyc_document.approved_by %>
                      <td><%= kyc_document.approved_by.email %></td>
                  <% else %>
                      <td></td>
                  <% end %>
                <td><%= kyc_document.approved_on %></td>
                <td><%= kyc_document.rejection_reason %></td>
                <td><%= kyc_document.valid_till %></td>
                  <% if kyc_document.status == "SUBMITTED" %>
                    <td><%= link_to ('<i class="fa fa-pencil-square-o" title="View" style="font-size:23px ;text-decoration:none;color: black;"></i>').html_safe,kyc_document_path(kyc_document) %></td>

                  <% else %>
                    <td><%= link_to ('<i class="fa fa-eye" title="View" style="font-size:23px ;text-decoration:none;color: black;"></i>').html_safe,kyc_document_path(kyc_document) %></td>
                    </td>
                  <% end  %>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
<style>
<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: -66px;
    margin-left: 21px;    
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.index-link {
  text-transform: capitalize;
}
.fa {
  color: black;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
/*.tab-table label {
    margin-bottom: 0px;
    margin-left: -14px;
    padding-left: 21px;
    margin-top: -64px;
}
*/#wrapper #content-wrapper {
     overflow-x: unset; 
}
.tab-table label {
    margin-bottom: -1px;
    margin-top: 53px;
    margin-left: -12px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: -23px;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}
/*.dataTables_length {
    float: left;
    margin-top: -60px;
}
/**/table.dataTable {
    margin: 2px auto;
    clear: both;
    width: 59pc;

}
.dataTables_length {
    float: left;
    margin-top: -32px;
} 
*/label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 35px;
}
.dataTables_info {
    clear: both;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
}
input:checked + label {
    color: #2783F3;
    border-bottom: 2px solid #2783F3;
    margin-top: -25px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: -42px;}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast1{
    width: 100%;
    margin-top: 30px;
}
   
</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
        "pagingType": "full_numbers",
    "dom": 'lrtip',
    "bDestroy": true,
    "aoColumnDefs": [
    {
    "sDefaultContent": '',
    aTargets: [ '_all' ]
    }
    ]
  });
  if ($(".dataTables_length").length > 1) {
    window.location.reload();
  }
});

</script>
