<h3>Status</h3>
<span class='m-l-15'><%= @kyc_document.status %></span>
<% if @kyc_document.status == 'REJECTED' %>
    <span class='m-l-30'><%= @kyc_document.rejection_reason %></span>
<% end %>
<hr/>
<h3>Uploaded Images</h3>
<p id="kyc-document-images-message" class="alert alert-info"></p>
<div class="flex-container">
    <div class="card kyc-document-div">
        <img class='card-img-top kyc-document-image rounded' id="pan-image" src="<%= @pan_url %>"/>
        <div class='card-body'>
            <h5 class="card-title">Pan Card</h5>
            <% if @kyc_document.status != 'SUBMITTED' and @kyc_document.status != 'APPROVED' %>
                <div class="form-group">
                <input id="pan-upload-file" type="file"/>
                <button class='btn btn-info' id='pan-upload' kyc_id="<%= @kyc_document.id %>">Upload</button>
                </div>
            <% end %>
        </div>
    </div>
    <div class="card kyc-document-div">
        <img class='card-img-top kyc-document-image rounded' id="null-cheque-image" src="<%= @null_cheque_url %>"/>
        <div class='card-body'>
            <h5 class="card-title">Photo of Anulled Cheque Leaf</h5>
            <% if @kyc_document.status != 'SUBMITTED' and @kyc_document.status != 'APPROVED' %>
                <div class="form-group">
                <input id="null-cheque-upload-file" type="file"/>
                <button class='btn btn-info' id='null-cheque-upload' kyc_id="<%= @kyc_document.id %>">Upload</button>
                </div>
            <% end %>
        </div>
    </div>
    <div class="card kyc-document-div">
        <img class='card-image-top kyc-document-image rounded' id="incorporation-cert-image" src="<%= @incorporation_cert_url %>"/>
        <div class='card-body'>
            <h5 class='card-title'>Incorporation Certificate Photo</h5>
            <% if @kyc_document.status != 'SUBMITTED' and @kyc_document.status != 'APPROVED' %>
                <div class="form-group">
                <input id="incorporation-cert-upload-file" type="file"/>
                <button class='btn btn-info' id='incorporation-cert-upload' kyc_id="<%= @kyc_document.id %>">Upload</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
<hr/>
<h3>Information</h3>

<% if @kyc_document.status != 'SUBMITTED' and @kyc_document.status != 'APPROVED' %>
    <p id="kyc-document-information-message" class="alert alert-info"></p>
    <%= form_with(url: kyc_document_path(@kyc_document), method: "post", :html => { :id=>"kyc-document-information-form",  :class => "form-group m-b-15 information-form" }) do %>
        <%= label_tag(:name,"Name:") %>
        <%= text_field_tag(:name, @kyc_document.name, :class => "form-control", :id => "kyc-document-information-name") %>
        <%= label_tag(:phonenumber,"Phone Number:") %>
        <%= text_field_tag(:name, @kyc_document.phonenumber, :class => "form-control", :id => "kyc-document-information-phonenumber") %>
        <%= label_tag(:official_email,"Official Email:") %>
        <%= text_field_tag(:official_email, @kyc_document.official_email, :class => "form-control", :id => "kyc-document-information-official-email") %>
        <%= label_tag(:company_name,"Company Name:") %>
        <%= text_field_tag(:company_name, @kyc_document.company_name, :class => "form-control", :id => "kyc-document-information-company-name") %>
        <%= label_tag(:company_address, "Company Address:") %>
        <%= text_area_tag(:company_address, @kyc_document.company_address, :class => "form-control", :id => "kyc-document-information-company-address") %>
        <button kyc_id="<%= @kyc_document.id %>" id="kyc-document-information-submit" class="btn btn-info m-t-5">Submit Information</button>
    <% end %>

    <hr/>
    
    <h3>Actions</h3>
    <%= form_with(url: kyc_document_approval_path(@kyc_document), method: "post", :html => { :onsubmit => "return confirm('Do you really want submit kyc?');", :class => "m-b-15" }) do %>
        <%= submit_tag("Submit Application for Approval", :class => "btn btn-success") %>
    <% end %>
<% else %>
    <span><b>Name:</b> <%= @kyc_document.name %></span><br/>
    <span><b>Official Email:</b> <%= @kyc_document.official_email %></span><br/>
    <span><b>Phone Number:</b> <%= @kyc_document.phonenumber %></span><br/>
    <span><b>Company Name:</b> <%= @kyc_document.company_name %></span><br/>
    <span><b>Company Address:</b> <%= @kyc_document.company_address %></span><br/>
<% end %>
<div id="kyc-document-view">
    <img id='kyc-document-view-image'/>
</div>
