<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title" style="margin-left: -11px;">Verify KYC Documents</h2> 
</nav>
<div class="form-inline">
  <div class="form-group" style="margin-left: 23px">
    <h3>Status:
    <span class='m-l-15'><%= @kyc_document.status.capitalize %></span></h3>
  </div>
</div>    
<hr/>


<hr/>
<h3 style="margin-left: 19px;">Information</h3>
      <table style="margin-left: 20px;">
        <tr>
          <th><strong>Name:</strong></th>
          <td><%= @kyc_document.company_name %></td>
        </tr>
        <tr>
          <th><strong>Official Email:</strong></th>
          <td><%= @kyc_document.official_email %></td>
        </tr>
        <tr>
          <th><strong>Phone Number:</strong></th>
          <td><%= @kyc_document.phonenumber %></td>
        </tr>
        <tr>
          <th><strong>Company Name:</strong></th>
          <td><%= @kyc_document.company_name %></td>
        </tr>

        <tr>
          <th>Company Address:</th>
          <td><%= @kyc_document.company_address %></td>
        </tr>
        <tr>
          <th>GST Number:</th>
          <td><%= @kyc_document.gst_number %></td>
        </tr>
        <tr>
          <th>PAN Number:</th>
          <td><%= @kyc_document.kyc_pan_card_number %></td>
        </tr>
        <tr>
          <th>IEC Number:</th>
          <td><%= @kyc_document.iec_number %></td>
        </tr>
        <tr>
          <th>State:</th>
          <td><%= @kyc_document.state %></td>
        </tr>

      </table>

<hr/>
<% if @kyc_document.status == "SUBMITTED" %>
  <% if @kyc_document.is_locked == false || (@kyc_document.is_locked == true &&  current_user[:id] == @kyc_document.locked_by_user_id) %>
    <h3 style="margin-left: 22px;">Actions</h3>
    <div class="kyc-document-div">
        <div class="button-div">
            <%= form_with(url: kyc_document_approval_path(@kyc_document), method: "post", :html => { :onsubmit => "return confirm('Do you really want approve kyc?');" } ) do %>
                <%= submit_tag("Approve", :class => "btn btn-success") %>
            <% end %>
        </div>

        <div class="button-div button-reject-div">
            <%= form_with(url: kyc_document_reject_path(@kyc_document), method: "post", :html => { :onsubmit => "return confirm('Do you really want reject kyc?');" } ) do %>
                <%= text_area_tag :message, nil, placeholder: "Rejection Reason" %>
                <%= submit_tag("Reject", :class => "btn btn-danger") %>
            <% end %>
        </form>
        </div>
        <% if @kyc_document.is_locked != true %>
          <div class="button-div ">
              <%= form_with(url: kyc_document_oops_lock_path(@kyc_document), method: "get", :html => { :onsubmit => "return confirm('Do you really want Lock kyc?');" } ) do %>
                  <%= submit_tag("Lock", :class => "btn btn-danger",:style => "background-color: black" ) %>
              <% end %>
          </form>
          </div>
        <% end %>  
    </div>
    <div id="kyc-document-view">
        <img id='kyc-document-view-image'/>
    </div>
  <% end %>  
<% end %>  
<style>
  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
</style>