<%= form_with(model: sell_request, local: true, :html => { :id=>"sell-requests-form",:style=>"width: 42%;margin: -16px auto;padding: 10px 20px"}) do |form| %>
  <% if sell_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sell_request.errors.count, "error") %> prohibited this sell_request from being saved:</h2>

      <ul>
        <% sell_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inline">
    <div class="form-group">
      <%= form.label :scrip_number %>
      <%= form.text_field :scrip_number, :class => "form-control",:style => "margin-left:89px;",:required => true %>&nbsp;&nbsp;
      <i class="fa fa-info-circle" title="The Official scrip number." style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group" data-behaviour='datepicker'>
      <%= form.label :scrip_date %>
      <%= form.date_field :scrip_date, :data => { provide:'datepicker' }, :class => "form-control " ,:style => "margin-left:114px;width:186px;",:placeholder => "MM/DD/YYYY",:required => true%>&nbsp;&nbsp;

      <i class="fa fa-info-circle" title="Date of issue of the scrip." style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :scrip_value %>
      <%= form.text_field :scrip_value, :class => "form-control", :value => sell_request.scrip_value.to_i/100 ,:style => "margin-left:106px;",:required => true %>&nbsp;&nbsp;
      <i class="fa fa-info-circle" title="Value of scrip in Rupees" style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :rate, "Rate (%)" %>
      <%= form.text_field :rate, :class => "form-control", :value => sell_request.rate.to_d/100,:style => "margin-left:126px;",:required => true %>&nbsp;&nbsp;
      <i class="fa fa-info-circle" title="Rate" style="cursor: pointer;"></i>    
    </div>
    <br>
    <br>
    <div class="form-group" style="margin-top:-18px;">
      <label>Sales Price (Rs)</label>
      <%= form.text_field :sales_price, :class => "form-control", :readonly => true ,:style => "margin-left:72px;",:required => true%>&nbsp;&nbsp;
      <i class="fa fa-info-circle" title="Selling price as percentage of value. eg 95.00 or 98.5" style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group">
    <%= form.label :commission, "Commission (%)" %>
    <%= form.text_field :commission, :class => "form-control", :data => @business_config.config['commission'].to_json, :value => @business_config.config["commission"].first["value"], :readonly => true ,:style => "margin-left:70px;"%>&nbsp;&nbsp;
    <i class="fa fa-info-circle" title="Transaction charge as percentage of scrip value(%-age of scrip value)" style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group" style="margin-top:4px;">
      <label>Commission Value (Rs)</label>
      <%= form.text_field :commission_value, :class => "form-control", :readonly => true ,:style => "margin-left:20px;",:required => true%> &nbsp;&nbsp;   
      <i class="fa fa-info-circle" title="Transaction charge value in Rs." style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group">
      <label>Nett Realization (Rs)</label>
      <%= form.text_field :nett_price, :class => "form-control", :readonly => true ,:style => "margin-left:42px;",:required => true%>&nbsp;&nbsp;    
      <i class="fa fa-info-circle" title="Nett earnings after commission" style="cursor: pointer;"></i>
    </div>
    <br>
    <div class="form-group actions" style="margin-left:167px; margin-top: 75px;">
      <%= form.submit "Submit", :class => "btn btn-success" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Back", dashboard_sell_path,:class => "btn btn-info index-link"  %>
    </div>
  </div> 
<% end %>

<style type="text/css">
  #content-wrapper{
      overflow-x: visible;
  }
  .index-link {
    text-transform: capitalize;
  }
</style>