<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <h2 class="title">Editing Sell Request</h2> 
</nav>
<div style="padding-right:540px;padding-bottom: 18px;">
  <%= render 'form', sell_request: @sell_request, is_edit: true %>
</div>
<style type="text/css">
  html,body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px;     
    padding-right: 0px;
  }
</style>
