<p id="notice"><%= notice %></p>

<h1>Sell Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Created at</th>
      <th>Scrip number</th>
      <th>Scrip date</th>
      <th>Scrip value</th>
      <th>Rate</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sell_requests.each do |sell_request| %>
      <tr>
        <td><%= sell_request.user %></td>
        <td><%= sell_request.created_at %></td>
        <td><%= sell_request.scrip_number %></td>
        <td><%= sell_request.scrip_date %></td>
        <td><%= sell_request.scrip_value %></td>
        <td><%= sell_request.rate %></td>
        <td><%= sell_request.verified %></td>
        <td><%= link_to 'Show', sell_request %></td>
        <td><%= link_to 'Edit', edit_sell_request_path(sell_request) %></td>
        <td><%= link_to 'Destroy', sell_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sell Request', new_sell_request_path %>
