<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sell_request.user %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @sell_request.created_at %>
</p>

<p>
  <strong>Scrip number:</strong>
  <%= @sell_request.scrip_number %>
</p>

<p>
  <strong>Scrip date:</strong>
  <%= @sell_request.scrip_date %>
</p>

<p>
  <strong>Scrip value:</strong>
  <%= @sell_request.scrip_value %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @sell_request.rate %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @sell_request.verified %>
</p>

<%= link_to 'Edit', edit_sell_request_path(@sell_request) %> |
<%= link_to 'Back', sell_requests_path %>
