<div class="content-box">
  <div class="float-center-box">
    <div class="left-content">
      <h4>Login</h4>
      <p>Enter your login details</p>
      <div class="info-wrap">
        <img src="/images/illustration-login.png" width="208" height="249" alt="ScripMarket Login"></div>
      </div>
      <div class="right-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <ul class="login-form">
          <li> <%= f.email_field :email, autofocus: true, autocomplete: "Email", placeholder: "Email" %></li>
          <li> <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %></li>
          <% if devise_mapping.rememberable? %>
          <li>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </li>
          <% end %>
          <li class="txt-link"><%= f.submit "Log in" %></li>      
          <%= render "users/shared/links" %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
