/*------------------------------------------------------------
-------- DEMO Code
------------------------------------------------------------*/


/*----- Toggle Button -----*/
.toggle-nav {
	display:none;
}

/*----- Menu -----*/
@media screen and (max-width: 860px) {
	.menu {
		width:100%;
		padding:0px;
	}
}

.menu ul {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	background:#fff;
	width:96%;
	padding:2%;
}

.menu li {
	margin:0px 50px 0px 0px;
	float:left;
	list-style:none;
	font-size:17px;
	text-align:left;
	width:92%;
}

.menu li:last-child {
	margin-right:0px;
}

.menu a {
	text-decoration:none;
	color:#000;
	transition:color linear 0.5s;
}

.menu li a {
	float:left;
	display:block;
	width:100%;
	cursor:pointer;
	color:#000;
}

.menu a:hover, .menu .current-item a {
	text-decoration:none;
	color:#000;
}




@media screen and (max-width: 860px) {
	.menu {
		position:relative;
		display:flex;
	}

	.menu ul.active {
		visibility:hidden;
		opacity:0;
	}
	
	.menu .popup1-in1 ul.active {
		visibility:visible;
		opacity:1;
	}

	.menu > ul {
		width:90%;
		position:absolute;
		top:45px;
		left:0px;
		padding:5%;
		border-radius:3px;
		-moz-transition: opacity 1s;
  -ms-transition: opacity .1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity:1;
  animation: createBox .5s;
	}
	
	@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

	.menu ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		right:22px;
		content:'';
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid #fff;
	}

	.menu li {
		margin:5px 0px 10px 0px;
		float:none;
		display:block;
	}
	
	.menu>ul li {
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
	}
	.menu>ul li:last-child{
		border-bottom:none;
	}
	
	.popup1 ul li {
		border-bottom:none;
		font-size:1.2em;
	}

	.menu a {
		display:block;
	}

	.toggle-nav {
		padding:5px 10px;
		float:right;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#fff;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:#fff;
		font-size:20px;
		transition:color linear 0.3s;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#66a992;
	}

	
}