@charset "utf-8";
/* ScripMarket.com  CSS Document */
/* responsive upon screen size*/

@media all and (max-width : 1250px) {
  
}


 @media all and (max-width : 960px) {
    
}


 @media all and (max-width : 768px) {
	 .page-wrap 				{height:auto;}
	 .menu 						{display:block; position:absolute; width:90%;}
	 .menu-wide					{display:none;} 
	 .main-banner 				{flex-direction:column; }
	 .main-banner .half-wide	{width:100%;}
	 footer .footer-in p		{font-size:1em; }
    .popupa, .popup1 			{width:90%; position:relative; height:auto; display:none; }
	.popup1						{flex-direction:column; }
	.popup1 .popup1-in1			{width:90%;}
	.content-box .float-center-box { width:80em; flex-direction:column; margin-top:4em; margin-bottom:4em;}
	.float-center-box .left-content {margin-bottom:1em;}
	.float-center-box .left-content .info-wrap{	justify-content:flex-start;}
	footer {height:auto;}
	
@media all and (max-width: 520px) {
.main-banner .inbox-signup input[name=email-input] 	{ width:150px;}
.main-banner .inbox-signup input[name=SignUp]		{ width:110px; font-size:1em; }

footer .footer-in p									{ font-size:0.9em; line-height:1.5em;}
.main-banner h2										{ font-size:2em;}
footer .footer-in 									{ background:#fff; height:40px;}
	
 }
 
 
 @media all and (max-width : 330px) {
	 
   
 }




/*menu*/



/*menu end */