@charset "utf-8";
/* ScripMarket.com CSS Document */

/* fonts */

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*fonts*/

/*general*/

body {
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'LatoWeb';
}
.page-body {
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'LatoWeb';
}

.page-header a { 
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'LatoWeb';
}

*	{
	margin:0;
	padding:0;
	}
	
/*general*/
.page-wrap {
	background:#02042B;
	height:98vh;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	padding-top:2vh;
	}
	
header, section{
	width:90%;
	height:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	font-size:1em;
}

.page-header {
	width:90%;
	height:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	font-size:1em;
}

header .logo-wrap {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	}
header .logo-wrap img {}
	
.menu-wide {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-grow:1;
	}
	
.menu-wide .main-menu, .menu-wide .login-menu{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	margin:10px 0 0 42px;

	}
.menu-wide .main-menu li, .menu-wide .login-menu li{
	padding:5px 42px;
	list-style:none;
	}

.menu-wide .main-menu li a, .menu-wide .login-menu li a{
	color:#fff;
	text-decoration:none;
	-moz-transition: color 1s;
  	-ms-transition: color 1s;
  	-o-transition: color 1s;
  	-webkit-transition: color 1s;
  	transition: color 1s;
	}
	
.menu-wide .main-menu li a:hover, .menu-wide .login-menu li a:hover{
	color:#2783F3;
	}
	
.main-menu .price:hover + .popupa{
		visibility:visible;
		opacity:1;
		height:200px;
	}

.main-menu .about:hover + .popup1{
		visibility:visible;
		opacity:1;
		height:200px;
	}

	

.menu{
	display:none;
	}

	
.login-menu .sign-button a{
	display:block;
	width:115px;
	height:22px;
	background-color:#fff;
	color:#2783F3!important;
	border-radius:3px;
	text-align:center;
	padding:8px 0 5px 0;
	margin-top:-8px;
	-moz-transition: color 1s;
  	-ms-transition: color 1s;
  	-o-transition: color 1s;
  	-webkit-transition: color 1s;
  	transition: color 1s;
	}	

.login-menu .sign-button a:hover{
	background-color:#2783F3;
	color:#fff!important;
	}


.main-banner {
	display:flex;
	flex-direction:row;
}

.main-banner .half-wide{
	width:50%;
	margin-top:8%;
}

.main-banner .info-wrap{
	overflow:hidden;
	text-align:left;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
.main-banner .info-wrap img{
	width:100%;
	height:auto;
}

.main-banner h2{
	font-size:2.5em;
	line-height:1.4em;
	color:#fff;
	font-family: 'LatoWebBold';
	width:90%;
	padding-bottom:1em;
}

.main-banner h2 span{
	color:#2783F3;
}


.main-banner p{
	font-size:1.1rem;
	line-height:2em;
	color:#fff;
	width:90%;
}

.main-banner .inbox-signup{
	margin-top:2em;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	font-size:1em;
}

.main-banner .inbox-signup input[name=email-input] {
	margin:0;
	border:1px solid #2783F3;
	height:34px;
	width:230px;
	padding:5px 5px 5px 20px;
	border-radius:6px 0 0 6px;
}

.main-banner .inbox-signup input[type=text]:focus::-webkit-input-placeholder{
	opacity:0.5;
}

.main-banner .inbox-signup input[type=text]:focus{
	outline:none;
}
.main-banner .inbox-signup input[name=SignUp]{
	margin:0;
	border:1px solid #2783F3;
	background-color:#2783F3;
	height:46px;
	width:130px;
	border-radius:0 6px 6px 0 ;
	color:#fff;
	font-size:1.1em;
	-webkit-appearance: none;
	-moz-transition: color 1s;
  	-ms-transition: color 1s;
  	-o-transition: color 1s;
  	-webkit-transition: color 1s;
  	transition: color 1s;
	}

.main-banner .inbox-signup input[name=SignUp]:hover{
	color:#02042B;
	}
	
footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:90px;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	}
footer .footer-in {
	background:url(../images/footer-bg-md.png) no-repeat left bottom;
	background-size:100%;
	height:90px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	padding-bottom:5px;
}

footer .footer-in p {
	font-family: 'LatoWebBold';
	font-size:1.3em;
	line-height:1.2em;
	color:#2783F3;
	border-bottom:3px solid #2783F3;
	width:auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin: 0;
 	}

.popupa, .popup1{
	border-radius:6px;
	width:30em;
	height:10px;
	background-color:#fff;
	position:absolute;
	opacity:0;
	-moz-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	transition: all 0.5s;
	padding:3%;
	margin-top:0.3em;
	display:block;
	overflow:hidden;
	}
	

	.popupa #close, .popup1 #close1 {
		float:right;
		background:#02042B;
		border-radius:4px;
		width:20px;
		height:20px;
		color:#fff;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	
.popupa h4, .popup1 h4 {
	font-family: 'LatoWebBold';
	font-size:1.4em;
	text-transform:uppercase;
	color:#2783F3;
	}
.popupa p, .popup1 p{
	font-family: 'LatoWebBold';
	font-size:1em;
	line-height:1.4em;
	color:#02042B;
	padding-top:0.7em;
	}

 .popup1{
 display:flex;
	flex-direction:row;
	justify-content:space-between;
 	}
	 
 .popup1  .popup1-in {
	 width:35%;
 }
 .popup1  .popup1-in1 {
	 width:55%;
	 font-size:0.80em;
	 line-height:1.5em;
	 margin:5% 0 0 2%;
 }
 
 .popup1  .popup1-in1 li {
	 background:url(../images/popup-icon.png) no-repeat left 5px;
	 padding:0 0 0 30px;
	 margin:0 0 10px 0;
 }
 
 
 
 /*Login Page */
 
 .content-box {
	 width:100%;
	 min-height:85vh;
	 display:flex;
	 justify-content:center;
	 align-items:flex-start;
 }

.content-box .float-center-box {
	width:65%;
	height:auto;
	background:#fff;
	border-radius:6px;
	padding:65px 55px 35px 55px;
	margin-top:6em;
	display:flex;
	justify-content:space-between;
	max-width: 650px;
}

.content-box .float-center-box .left-content{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}

.float-center-box .left-content .info-wrap{
	flex-grow:1;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}
 
.float-center-box h4{
	font-family: 'LatoWebBold';
	font-size:1.4em;
	text-transform:uppercase;
	color:#2783F3;
	}
.float-center-box p{
	font-family: 'LatoWebBold';
	font-size:1em;
	line-height:1.4em;
	color:#02042B;
	padding-top:0.7em;
	}

.float-center-box .right-content .login-form {
	width:100%;	
	font-size:0.95em;
}
.right-content .login-form li {
	list-style:none;
	margin-bottom:35px;	
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.right-content .login-form li.txt-link {
	margin-bottom:10px;	
}
.right-content .login-form li.txt-link a {
	font-size:0.85em;
	color:#2783F3;
	text-decoration:underline;
}


.right-content .login-form li input[type=email], .right-content .login-form li input[type=password] {
	width:280px;
	height:32px;
	border:1px solid #C8C6C6;
	font-size:0.95em;
	padding:5px 10px;
	border-radius:3px;	
	font-weight:bold;
}

.right-content .login-form li input[type=text]:focus, .right-content .login-form li input[type=password]:focus{
	outline:none;
	border:1px solid #2783F3;
}
.login-form li input[type=text]:focus::-webkit-input-placeholder, .login-form li input[type=password]:focus::-webkit-input-placeholder {
	opacity:0.5;
	font-weight:normal;
}

.right-content .login-form li input[type=checkbox] {
	width:20px;
	height:20px;
	border:1px solid #C8C6C6;
	font-size:0.95em;
	border-radius:3px;
}

.right-content .login-form li label {
	font-weight:bold;
	padding-left:15px;
	}

.right-content .login-form li input[type=submit] {
	border:1px solid #2783F3;
	background-color:#2783F3;
	height:42px;
	width:100px;
	border-radius:6px;
	color:#fff;
	font-size:1.1em;
	-webkit-appearance: none;
	-moz-transition: color 1s;
  	-ms-transition: color 1s;
  	-o-transition: color 1s;
  	-webkit-transition: color 1s;
  	transition: color 1s;
}

.right-content .login-form li input[type=button]:hover{
	background:#fff;
	color:#2783F3;
	cursor:pointer;
}

 
  /*Login Page end */
  
  
