<%- if controller_name != 'sessions' %>
  <li class="txt-link">
    <%= link_to "Log in", new_session_path(resource_name) %>
  </li>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li class="txt-link">
    <%= link_to "Sign up", new_registration_path(resource_name) %>
  </li>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<li class="txt-link">
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
</li>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<li class="txt-link">
  <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path(resource_name) %><br />
</li>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<li class="txt-link">
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
</li>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <li class="txt-link">
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
    </li>
  <% end %>
<% end %>
