<%= form_with(model: buy_request, local: true, :html => { :style=>"width: 42%;margin: -16px auto;padding: 10px 20px"}) do |form| %>
  <% if buy_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy_request.errors.count, "error") %> prohibited this buy_request from being saved:</h2>

      <ul>
        <% buy_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inline">

    <div class="form-group col-" data-behaviour='datepicker'>
      <%= form.label :buy_date %>
      <%= form.date_field :buy_date, :data => { provide:'datepicker' }, :class => "form-control " ,:placeholder => "MM/DD/YYYY",:required => true%>&nbsp;&nbsp;

      <i class="fa fa-info-circle" title="Date on which scrips are required" style="cursor: pointer;margin-top: 0px;"></i>
    </div>
    <br>


    <div class="form-group" style="margin-top: 10px;">
      <%= form.label :scrip_value %>
      <%= form.text_field :scrip_value, :class => "form-control", :value => buy_request.scrip_value.to_i/100 ,:required => true ,:style => "    margin-left: -15px;width: 180px;"%>&nbsp;&nbsp;
      <i class="fa fa-info-circle" title="Scrip value required." style="cursor: pointer;margin-top: 25px;"></i>
    </div>
    <br><br><br>    
    <div class="form-group actions" style="margin-left: 110px;
    margin-top: 21px;">
      <%= form.submit "Submit", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
