<h1 style="margin-left: -568px;">Editing Buy Request</h1>
<div style="padding-right:540px;padding-bottom: 18px;">

<%= render 'form', buy_request: @buy_request %>
</div>


<style type="text/css">
  html,body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    padding-right: 0px;
  }
</style>
