<p id="notice"><%= notice %></p>

<h1>Buy Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Deleted</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_requests.each do |buy_request| %>
      <tr>
        <td><%= buy_request.user_id %></td>
        <td><%= buy_request.deleted %></td>
        <td><%= buy_request.sold %></td>
        <td><%= link_to 'Show', buy_request %></td>
        <td><%= link_to 'Edit', edit_buy_request_path(buy_request) %></td>
        <td><%= link_to 'Destroy', buy_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy Request', new_buy_request_path %>
