<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @buy_request.user_id %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @buy_request.deleted %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @buy_request.sold %>
</p>

<%= link_to 'Edit', edit_buy_request_path(@buy_request) %> |
<%= link_to 'Back', buy_requests_path %>
