<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Edit Permissions</h2> 
</nav>

<div class="permissions-table-div" style="margin-top:-45px">
    <h3 style="padding-top: 72px;text-align: center;margin-left: -106px;">User: <%= @user.email %></h3>
    <%= form_with(url: permission_path(@user), method: "patch",data: { confirm: "Do you really want submit permissions?", :class => "m-b-15" }) do -%>
  <div class="form-inline">

        <div class="form-group">
          <%= label_tag(:role, "Role",style:"display : inline;;padding-top:14px;padding-right:240px;margin-left:325px;font-size:24px") %>
          <%= select_tag(:role, options_for_select(@role_list, @user.role), class: "form-control",style:"width: 170px;margin-left: -221px;",:onchange => "changeRole();") %>
        </div>
        </div>

        <div style="margin-top: 45px">
        <% @permission_list.each do |choice| %>
            <div class="form-check" style="padding-left:30rem;">
            <%= check_box_tag choice, choice.to_s, @user.user_attributes.can?(choice.to_s), class: "form-check-input" -%>
            <%= label_tag(choice, choice.to_s.capitalize, class: "form-check-label", for: choice.to_s,style: "border-bottom:0px;padding-right:517px;padding-top:2px;") -%>
            </div>
        <% end %>
        </div>
        <span style="padding-left:430px">
          <%= submit_tag("Submit", class: "btn btn-primary",style:"margin-top:35px") %>
          <%= link_to "Back", permissions_path,:class => "btn btn-info index-link",:style=>"width: 78px;margin-top:35px;" %>
        </span>
    <% end %>
 </div>
 <style type="text/css">
  label {
  display: block;
}

label.question {
  font-weight: bold;
}

input[type="checkbox"] {
  display: block
  ;
}
  .index-link {
    text-transform: capitalize;
  }


</style>
<script type="text/javascript">
  function changeRole(argument) {
    // body...
  }
</script>