<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">User Admin</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">User Admin</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table class="styled-table" width="100%" >
            <thead>
            <tr >
                <th scope="col">Sl No</th>
                <th>Email</th>
                <th style="text-align: center;">Edit</th>
            </tr>
          </thead>
          <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
            <td scope="row" style="text-align: center;"><%= index+1 %></td>
            <td><%= user.email %></td>
            <td style="text-align: center;"><%= link_to ('<i class="fa fa-pencil-square-o" title="edit" style="text-decoration:none;color: inherit;"></i>').html_safe,edit_permission_path(user) %></td>
        </tr>
      <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div  style="margin-left:450px;">
  <%= link_to "Dashboard", dashboard_home_path,:class => "btn btn-info index-link" %>
</div>

<style>
.btn {
  cursor: pointer;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}

.tab-table label {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-left: 1px;
    margin-top: -15px;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
#wrapper #content-wrapper {
     overflow-x: unset; 
}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast2_length{
  display: none
}

</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
        "pagingType": "full_numbers",
        "dom": 'lrtip',
        "bDestroy": true,
        "aoColumnDefs": [
        {
        "sDefaultContent": '',
        aTargets: [ '_all' ]
        }
      ]        
  });
       if ($(".dataTables_length").length > 1) {
    window.location.reload();
  }

  $('#paginationFirstLast2').DataTable({
      "pagingType": "full_numbers",
      "dom": 'lrtip',
      "bDestroy": true,
      "aoColumnDefs": [
        {
        "sDefaultContent": '',
        aTargets: [ '_all' ]
        }
      ]      
  });

});

</script>
