<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Unverified Sell Requests</h2> 
</nav>
<div class="container-fluid">
  <div class="tab-table">
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">Unverified Sell Requests</label>
    <div class="tab-content-wrap">
      <div id="tab-content1">
        <table class="styled-table" width="100%" >
          <thead>
          <tr>
            <th>User</th>
            <th>Phonenumber</th>
            <th>Scrip Number</th>
            <th>Verified</th>
            <th>Rejected</th>
            <th>Rejection reason</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <% if @verifications.present? %>
              <% @verifications.each do |sell_request| %>
                <tr>
                  <td><%= sell_request.user.email %></td>
                  <% if @kyc_document_map[sell_request.user.id].phonenumber.present? %>
                    <td><%= @kyc_document_map[sell_request.user.id].phonenumber %></td>
                  <% else %>
                    <td> -- </td>
                  <% end %>
                  <td><%= sell_request.scrip_number %></td>
                <% if sell_request.verified == true %>
                  <td>Yes</td>
                <% else %>
                  <td>No</td>                        
                <% end %>

                <% if sell_request.rejected == true %>
                  <td>Yes</td>
                <% else %>
                  <td>No</td>                        
                <% end %>



                  <td><%= sell_request.rejection_reason %></td>
                  <td><%= link_to ('<i class="fa fa-eye" title="View For Verification" style="font-size:23px ;text-decoration:none;color: black;"></i>').html_safe,verify_sell_path(sell_request) %></td>
                </tr>
              <% end -%>
            <% else %>
                <tr>
                    <td colspan="15" style="text-align: center; "><b>
                  <% if @is_rejected_page == "false" %>
                    There is No UnVerified Sell Request
                  <% else %>
                    There is No Rejected Sell Request
                  <% end %>  
                  </b></td>
                </tr>
            <% end -%>
          </tbody>

        </table>
        <div  style="margin-left:405px;margin-top: 39px;
">

    <%= link_to "Back", verify_sell_index_path,:class => "btn btn-info index-link" ,:style =>"margin-left: 43px;"%>
</div>

      </div>
    </div>
  </div>
</div>
<style>
<style type="text/css">
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: -66px;
    margin-left: 21px;    
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.index-link {
  text-transform: capitalize;
}
.fa {
  color: black;
}
table.dataTable tr.odd {
    background-color: #E2E4FF;
}
/*.tab-table label {
    margin-bottom: 0px;
    margin-left: -14px;
    padding-left: 21px;
    margin-top: -64px;
}
*/#wrapper #content-wrapper {
     overflow-x: unset; 
}
.tab-table label {
    margin-bottom: -1px;
    margin-top: 53px;
    margin-left: -12px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: -23px;
}
.dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}
/*.dataTables_length {
    float: left;
    margin-top: -60px;
}
/**/table.dataTable {
    margin: 2px auto;
    clear: both;
    width: 59pc;

}
.dataTables_length {
    float: left;
    margin-top: -32px;
} 
*/label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 35px;
}
.dataTables_info {
    clear: both;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
}
input:checked + label {
    color: #2783F3;
    border-bottom: 2px solid #2783F3;
    margin-top: -25px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: -42px;}
#paginationFirstLast1_length{
  display: none
}
#paginationFirstLast1{
    width: 100%;
    margin-top: 30px;
}
</style>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $('#paginationFirstLast1').DataTable({
        "pagingType": "full_numbers",
    "dom": 'lrtip',
    "bDestroy": true,
    "aoColumnDefs": [
    {
    "sDefaultContent": '',
    aTargets: [ '_all' ]
    }
    ]
  });

});

</script>
