<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <h2 class="title" >Rejected Sell Requests</h2> 
</nav>
  <h1 style="margin-top: -77px;">Rejected Sell Requests</h1>
<%= render 'table', verifications: @verifications %>
<% @is_rejected_page = "true" %>
