<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 <h2 class="title">Verify Sell Request</h2> 
</nav>



<hr/>
<h3 style="padding-left: 396px">Scrip Details</h3>
<table style="margin-left: 309px;
    width: 34%;">
  <tr>
    <th><strong>Scrip number:</strong></th>
    <td><%= @sell_request.scrip_number %></td>
  </tr>
  <tr>
    <th><strong>Scrip date:</strong></th>
    <td><%= @sell_request.scrip_date %></td>
  </tr>
  <tr>
    <th>Scrip value:</th>
    <td><%= SellRequest.number_to_indian_currency( (@sell_request.scrip_value/100), false)  %></td>
  </tr>
  <tr>
    <th>Rate:</th>
    <td><%= @sell_request.rate.to_d/100 %></td>
  </tr>
  <tr>
    <th><strong>Verified:</strong></th>
    <td><%= @sell_request.verified %></td>
  </tr>
  <tr>
    <th><strong>Rejected:</strong></th>
    <td><%= @sell_request.rejected %></td>
  </tr>
  <% if @sell_request.is_locked == true %>
    <tr>
      <th><strong>Locked by:</strong></th>
      <% @user = User.find @sell_request.locked_by_user_id %>
      <td><%= @user[:email]  %>(Role:Oops)</td>
    </tr>
  <% end %>
</table>


<hr/>
  <% if (@sell_request.is_locked == false || (@sell_request.is_locked == true &&  current_user[:id] == @sell_request.locked_by_user_id)) && @sell_request.verified != true %>
    <%= form_with url: verify_sell_verify_path(@sell_request), method: "post", html: { :onsubmit => "return confirm('Do you really want submit?');", :class => "m-b-15" } do %> 
        <%= submit_tag("Verify", class: "btn btn-success", style: "    margin-left: 341px") %>
    <% end -%>

    <%= form_with url: verify_sell_reject_path(@sell_request), method: "post",data: { confirm: "Are you sure you want to submit this form?", :class => "m-b-15" } do %> 
        <%= text_area_tag("rejection_reason", "", placeholder: "Rejection Reason",style:"margin-top: -48px;
        margin-left: 437px") %>
        <%= submit_tag("Reject", class: "btn btn-danger", style:"margin-top: -76px;
        margin-left: 38pc") %>
    <% end -%>
    <%= link_to "Back", verify_sell_index_path,:class => "btn btn-info index-link",:style=>"width: 78px;
      margin-top: -122px;
      margin-left: 697px;" %>

  <% else %>    
      <%= link_to "Back", verify_sell_index_path,:class => "btn btn-info index-link",:style=>"width: 78px;
    margin-top: -8px;
    margin-left: 465px;" %>

  <% end %>  
  <% if @sell_request.is_locked != true  && @sell_request.verified != true  %>

  <% end %>   


<style>
  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
</style>
