/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.w-screen {
    height: 100%;
    width: 100%;
}

.menu-li {
    background-color: black;
    color: white;
    padding: 16px;
    border-bottom: 1px solid gray;
}

li a {
    color: white;
}

li a:visited {
    color: white;
}

.border-top-gray-1 {
    border-top: 1px solid gray;
}

label {
    display: inline-block;
}

.w-devise input {
    display: inline;
}

.w-devise label {
    display: inline;
}

.w-devise .actions input {
    margin-top: 5px;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.w-devise .field input {
    margin-left: 20px;
}

.heading a {
    color: white;
}

@media only screen and (max-width: 600px) {
    #heading-menu {
        display: none; // hidden normally on phones, will appear when clicked.
        width: 100%;
    }

    .menu-icon {
        color: white;
        padding-left: 5px;
        padding-right: 5px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .w-menu {
        display: none; // menu tab vanishes on phone.
    }
    .w-main {
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding-left: 16px;
    }

    .w-devise {
        display: block;
        color: white;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    #new_user {
        margin-left: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .alert {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 600px) {
#heading-menu {
    display: none; // Always hidden on screens
}

.menu-icon {
    display: none; // hide the menu in large screens as menu is on the left.
}

.flex-container {
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    align-items: center;
}
    

.w-menu {
    min-height: 100%;
    width: 10%;
    max-width: 10%;
    float: left;
}


.w-main {
    min-height: 100%;
    width: 90%;
    max-width: 90%;
    padding-left: 16px;
}


.w-devise {
    display: block;
    color: white;
    background-color: black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 50px;
}

#new_user {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert {
    padding-left: 5px;
    padding-right: 5px;
}
}

@import "bootstrap";

.dis-gone {
    display: none;
}

.alert {
    margin: 20px;
}


