// Place all the styles related to the kyc_documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#kyc-document-view {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
}

#kyc-document-view-image {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.kyc-document-image {
    height: 300px;
}

.kyc-document-image-data {
    display: inline-block;
}

.kyc-document-div {
    margin: 15px;
}

.button-div {
    display: block;
    padding: 20px;
    width: 50%;
}

.button-reject-div {
    border-style: solid;
    border-color: red;
    border-width: 7px;
}

#kyc-document-information-message {
    display: none;
}

#kyc-document-images-message {
    display: none;
}

@media only screen and (max-width: 600px) {

    .information-form {
        width:80%;
    }
}

@media only screen and (min-width: 600px) {
    .information-form {
        width:30%;
    }
}
