// Place all the styles related to the SellRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media only screen and (max-width: 600px) {

    #sell-requests-form {
        width:80%;
    }
}

@media only screen and (min-width: 600px) {
    #sell-requests-form {
        width:30%;
    }
}
