<!DOCTYPE html>
<html>
  <head>
      <title>Scripmarket</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

        <meta charset="UTF-8">
        <meta name="keywords" content="Scrip, Export, Business">
        <meta name="description" content="Exchange Scrip for export business.">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--===============================================================================================-->	
	    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
      <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
      <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
      <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
      <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
      <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
      <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="/css/util.css">
	    <link rel="stylesheet" type="text/css" href="/css/main.css">
      <!--==========================================================================================-->
      <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
      <link href="/css/demo.css" rel="stylesheet" type="text/css" media="all">
      <link href="/css/responsive.css" rel="stylesheet" type="text/css" media="all">
      <!--===============================================================================================-->      
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="page-body">
    <div class="page-wrap">
      <header class="page-header">
        <div class="logo-wrap">
          <a href="/index.html"> <img src="/images/logo-sm.png"  alt="ScripMarket"></a>
        </div>
        <nav class="menu-wide">
          <ul class="main-menu">
          </ul>
        </nav>
        <nav class="menu" >
          <ul class="active" >
          </ul>
          <a class="toggle-nav" href="http://demos.inspirationalpixels.com/responsive-menu/#">_</a>
        </nav>
      </header>
      <section>
        <div class="dis-inline-block w-screen">
          <% if notice %>
            <p class="alert alert-info"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div>
            <%= yield %>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-in">
        <p> Scrip Exchange, Simplified!!</p>
        </div>
      </footer>
    </body>
  </div>
</html>
