<div class="content-box">
  <div class="float-center-box">
    <div class="left-content">
      <h4>Sign Up</h4>
      <p>Enter your login details</p>
      <div class="info-wrap">
        <img src="/images/illustration-login.png" width="208" height="249" alt="ScripMarket Login"></div>
      </div>
      <div class="right-content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>  
        <ul class="login-form">
          <li> <%= f.email_field :email, autofocus: true, autocomplete: "Email", placeholder: "Email" %></li>
            <% if @minimum_password_length %>
              <li>
                <em>Password: (<%= @minimum_password_length %> characters minimum)</em>
              </li>
            <% end %>
            <li>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password" %>
            </li>
          <li>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
          </li>
          <li class="txt-link"><%= f.submit "Sign Up" %></li>      
          <%= render "users/shared/links" %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>